body {
    text-align: center;
    background-color: #393E46;
    color: #4ECCA3;
    font-family: sans-serif;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
}

#level-title {
    background-color: #4ECCA3;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10%;
    color: #393E46;
    font-size: 8rem;
    margin: 0;
    align-items: center;
}

.container {
    display: absolute;
    width: 50%;
    margin: auto;
    background-color: #4ECCA3;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20%;
    padding-top: 20px;
}

.row {
    justify-content: center;
}

.btn {
    margin: 15px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 40%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.active {
    box-shadow: 0 0 20px white;
    background-color: rgb(163, 163, 147);
}

.startBtn {
    position: absolute;
    top: 265px;
    width: 250px;
    height: 350px;
    font-size: 20px;
    right: 600px;
    background-color: #393E46;
    color: #4ECCA3;
    opacity: 0.8;
}

.startBtn p {
    text-align: left;
}

.startBtn h4 {
    color: rgb(233, 67, 38);
    margin: 0;
}